{% extends "core/base.html" %}
{% load static %}
{% block title %}FormView{% endblock %}

{% block content %}
{% include 'form/messages.html' %}
<header class="bg-white py-5 mt-5">
    <div class="container h-100 text-center">
        <div class="row h-100">
            <div class="col-12">
                <img src="{% static 'core/img/contact.png' %}" alt="">
            </div>
        </div>
    </div>
</header>
<main class="text-dark" role="main">
    <section class="redes-block">
        <div class="container h-100 text-center">
            <div class="row h-100">
                <div class="col-12">
                    <ul class="list-inline h4">
                        <li class="list-inline-item">Facebook</li>
                        <li class="list-inline-item">Twitter</li>
                        <li class="list-inline-item">Instagram</li>
                    </ul> 
                </div>
            </div>
        </div>
    </section>
    <section class="contact-block">
        <div class="container mx-auto">
            <div class="row">
                <div class="col-lg-4 d-none d-xl-block mx-auto">
                    <ul class="h1 text-uppercase list-unstyled">
                        <li>Consulta</li>
                        <li>Reclamo</li>
                        <li>Sugerencia</li>
                        <li>Acá →</li>
                    </ul>
                </div>
                <div class="col-xl-7 col-lg-8 mx-auto">
                    <form action="" method="POST">{% csrf_token %}
                        <div class="form-group">
                            <label>Nombre</label>
                            <div class="input-group">
                                {{ form.name }}
                            </div>
                            {{ form.name.errors }}
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <div class="input-group">
                                {{ form.email }}
                            </div>
                            {{ form.email.errors }}
                        </div>
                        <div class="form-group">
                            <label>Mensaje</label>
                            <div class="input-group">
                                {{ form.content }}
                            </div>
                            {{ form.content.errors }}
                        </div>
                        <div class="text-center">
                            <input type="submit" class="btn btn-dark btn-block py-2" value="Enviar">
                        </div>
                    </form>
                </div>
            </div>
        </div> 
    </section>
    <section class="info-block">
        <div class="container h-100 text-center">
            <div class="row h-100">
                <div class="col-12 col-md-4">
                    <h4>Dirección</h4>
                    <p class="mb-0">C.A.B.A, Argentina 1234</p>
                </div>
                <div class="col-12 col-md-4 pt-5 pt-sm-4 pt-md-0">
                    <h4>Teléfono</h4>
                    <p>(+5411) 1234 5678</p>
                </div>
                <div class="col-12 col-md-4 pt-5 pt-sm-4 pt-md-0">
                    <h4>Email</h4>
                    <p>usuario@dominio.com</p>
                </div>
            </div>
        </div>
    </section>
</main>
<footer class="py-5 bg-white">
    <div class="container">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
                <span class="small">Formulario {% now 'Y' %}</span>
            </div>
            <div class="justify-content-md-center">
                <h1 class="blog-header-logo text-dark">ϟ.</h1>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                &copy; <span class="small">Natalia E. M.</span>
            </div>
        </div>
    </div>
</footer>
{% endblock %}